.article-entry {
  word-wrap: break-word;

  h2, h3, h4, h5, h6 {
    padding-top: 10px;
    font-weight: bold;
    line-height: 1.5;
    margin: 20px 0 15px;
  }

  h2 {
    font-size: 1.375em;
  }

  h3 {
    font-size: 1.25em;
  }
}